# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
part4/v/

# Local runtime and DB artifacts
instance/
*.db
part4/__pycache__/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db